@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.Left {
  width: 50vw;
}

.Right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  flex-wrap: wrap-reverse;
  height: 90vh;
}

.info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  gap: 0.25rem;
  margin: 0 auto;
  position: relative;
  /* order: 2; */
}

.option {
  /* order: 1; */
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
}

.name_profile {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.verify {
  width: 12vw;
  background-color: rgb(255, 241, 160);
  border-radius: 2rem;
  border: none;
}
.verify:hover {
  cursor: pointer;
  background-color: rgb(233, 214, 106);
}

.name_profile > img {
  height: 15px;
  width: 15px;
}

.per-img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: grey;
}

.id {
  background-color: grey;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 2rem;
}

.option li {
  width: 17vw;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option ul li img {
  height: 20px;
  width: 20px;
}

/* Left-section */
.Left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.multiimage {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: 40vw;
}

.multiimage img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 1rem;
}
.multiimage > div {
  transition: transform 0.5s ease;
}
.multiimage > div:hover {
  transform: scale(1.2);
}

.profile_desc {
  background-color: #424242;
  display: flex;
  width: 80%;
  padding: 5px 0;
  border-radius: 20px;
  color: #eeeff1;
  text-align: center;
  margin: 1vh 0;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 400;
}

.profile_desc_icon {
  height: 4vh;
  width: 4vh;
  margin: 0 10px;
}

.profile_trait_header {
  background-color: #2b2a2a;
  display: flex;
  width: 80%;
  padding: 5px 0;
  border-radius: 10px 10px 0 0;
  color: #eeeff1;
  text-align: center;
  margin-top: 1vh;
  font-size: 1.25rem;
  cursor: pointer;
}

.profile_trait_container {
  /* height: 200px; */
  width: 80%;
  border-radius: 10px;
  background-color: #424242;
}

.profile_trait_container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile_trait_container.open {
  max-height: fit-content;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 0;
}

.profile_trait_tag {
  background-color: rgb(41, 39, 39);
  color: #d9d9d9;
  padding: 1vh;
  font-size: 1rem;
  width: fit-content;
  border-radius: 5px;
  margin: 1vh;
  line-height: 1.5rem;
  font-size: small;
}
.person_verify_text {
  font-size: 1.25rem;
  margin: 0.5vh 2vh;
  padding: 0.5vh 2vh;

  background-color: green;
  color: white;
  border-radius: 5px;
}
